{% extends 'master.html' %}
{% load custom_filters %}
{% block content %}
    

    <!-- Note that by now, User would have clicked on the cart btn which 
    leads to execution of its related script at the end of master.html
    Then the view will get the value of cart in the localStorage, which
    processes it and sends corresponding data here. -->

    <h3 class=" text-3xl py-2 my-2 mx-auto text-sky-500 font-semibold">
        Shopping Cart
    </h3>
    
    
    {% for item in items %}

    
    <div class="item-card border-2 border-slate-300 my-2  px-10 py-5 text-wrap font-medium rounded
                    text-slate-600 mx-auto "> 
            <div class="flex md:flex-row gap-5">
                <img class="w-52 rounded " src="{{item.image}}" alt="">
                <div class="flex flex-col my-auto">
                    <p class="self pb-4 "> in <span class="bg-slate-200 p-1 rounded">{{ item.category }}</span> </p>
                    <p class="px-2 line-through ml-1 text-sm text-gray-600 "> <i> &#36 {{ item.price }} </i> </p>
                    <p class="px-2 mb-2 text-green-500 text-lg font-semibold ">  &#36 {{ item.discount_price }}  </p>
                    
                    

                    <div class="flex gap-5  ">
                        
                         <!-- When The amount is changed, Not only does cart in 
                         localStorage gets updated, but also backend -->

                         <form action="" method="get" class=" shadow-none">  
                            {% csrf_token %}
                            <label class="self-center " for="quantity"> </label>
                            <select class="change-amount-val self-center p-1 border-1 border-slate-700" name="quantity" id="quantity">
                                {% for key, value in cartCount.items %}
                                    {% if key == item.id|stringformat:"s" %}
                                        
                                        {% for i in value|times %}
                                                {% if  i == value%}
                                                    <option value="{{ i }},{{item.id}}" selected class="font-semibold"> <span > Quantity: {{ i }} </span>  </option>
                                                {% else %}
                                                    <option value="{{ i }},{{item.id}}" class="text-slate-600"> Quantity: {{ i }} </option>
                                                {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                          
                            
                            <button type="submit" value="" class="change-amount-btn bg-amber-200 p-2 ml-1 px-2 rounded 
                                    transition delay-75 hover:bg-amber-300 hover:scale-105 shadow-md shadow-slate-300 "> 
                                Change amount
                            </button>
                        </form>  

                        <a href="" class="bg-sky-400 text-white p-2  px-5 rounded 
                                transition delay-75 hover:bg-sky-500 hover:scale-105 shadow-md shadow-slate-300 " > 
                            Buy Now 
                        </a>
                        <a href="" class="bg-red-400 text-white p-2  px-5 rounded 
                                transition delay-75 hover:bg-red-500 hover:scale-105 shadow-md shadow-slate-300 " > 
                            Delete 
                        </a>
                    </div>
                </div>
            </div>    
                
                
    </div>
    {% endfor %}
    
    <script>
        const changeCartBtn = document.querySelector('.change-amount-btn')
        changeCartBtn.addEventListener( 'click', function(e){
            e.preventDefault()
            const changeCartOption  = document.querySelector('.change-amount-val')
            let data = changeCartOption.value
            data = data.split(',')
            const itemId = data[1]
            const itemCount = data[0]

            console.log(localStorage.getItem('cart'));

            // Note that We need to change the 
            
        })
    </script>

    

{% endblock %}