<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <nav>

     </nav>
    <div class="jumbotron ">
        <h1>
            SnapMart.
        </h1>
        <h3>
            Discover More, Shop Better.
        </h3>
    </div>
    <div class="ProductList ">
        <h3>
            Products
        </h3>
        {% for item in items %}
            <img src="{{item.image}}" alt="">
            <p> {{ item.name }} </p>
            <p> {{ item.price }}</p>
        {% endfor %}
    </div>
</body>
</html>