{% extends 'master.html' %}
    {% block content %}
    <div class="jumbotron px-4 pt-2 ml-4">
        <h1 class="text-5xl font-bold py-2">
            SnapMart.
        </h1>
        <h3 class="text-3xl text-sky-500 font-semibold py-2 ">
            Discover More, Shop Better.
        </h3>
    </div>
    <h3 class=" text-3xl px-4 py-2 ml-4 font-semibold">
        Products
    </h3>
    <div class="ProductList md:grid grid-cols-4 justify-around
            items-center gap-2 ">
        
        {% for item in items %}
            <div class="border-2 border-slate-300 my-2 mx-auto p-4 text-wrap font-medium rounded
                    hover:bg-gray-200"> 
                <a href="{% url 'detail' item.id %}">
                    <img class="w-64 rounded" src="{{item.image}}" alt="">
                    <p class=" py-2 text-teal-500"> {{ item.name }} </p>
                    <p class="px-2 line-through ml-1 text-sm text-gray-600 "> <i> &#36 {{ item.price }} </i> </p>
                    <p class="px-2 text-green-500 text-lg font-semibold ">  &#36 {{ item.discount_price }}  </p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="pagenav my-3 mx-auto flex gap-4 *:p-1 items-center justify-center">
        {% if items.has_previous %}
        
            <a class="bg-slate-300 rounded" href="?page=1"> &laquo; </a>
            <a class="bg-slate-300 rounded" href="?page={{items.previous_page_number}}"> prev </a>
        {% endif %}
        <p> Page {{items.number}} of {{items.paginator.num_pages}}</p>

        {% if items.has_next %}

            <a class="bg-slate-300 rounded" href="?page={{items.next_page_number}}"> next </a>
            <a class="bg-slate-300 rounded" href="?page={{items.paginator.num_pages}}"> &raquo; </a>
        {% endif %}
        
    </div>
   
{% endblock %}
